/*.....Normalize css.....*/
@import 'normalize.css';

/*.....Base Styles.....*/

body,
form,
main,
.contact-info,
.newsletter,
fieldset  {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #404040;
  margin-top: 45px;
}

p {
  font-size: 1.5em;
  padding: 0 15px;
}

header,
footer {
  justify-content: center;
  margin:auto;
  text-align: center;
}

header {
  margin: 0 20px 6.5px;
  border-bottom: 5px solid black;
}

footer {
  font-style: italic;
  margin: 0;
  background-color: #00334d;
  color: #fff;
}

label {
  font-size: 1em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select {
  justify-content: center;
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px 13px;
  max-width: 90%;
}

select {
  cursor: pointer;
  width:99%;
  padding-right: 3px;
}

textarea {
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0;
}

input,
select,
button {
  margin: 15px 0;
}

button {
  align-self: center;
  cursor: pointer;
  border: none;
  width: 100%;
  margin: 15px 20px 30px;
  padding: 20px 40px;
  border-radius: 5px;
  padding: 20px;
  background-color: #00b3b3;
  color: #fff;
  font-size: 2em;
}

/*.....class styles.....*/

.top-p {
  color: #b3b3b3;
  padding-bottom: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;

}

.states {
  min-width: 100%;
  padding-right: 15px;
}

.section-title  {
  text-align: left;
  margin: 20px 0 30px 0;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 2.5em;
  font-weight: bold;
  background-color: #59b300;
  width: 100%;
}

.p-2 {
  color: #808080;
  padding-left: 0;
}

.contact-info,
.newsletter {
  justify-content: center;
  margin: 0 20px;
}

.newsletter {
  border-top: 2px solid black;
  margin-bottom: 20px;
}

.contact-info {
  border-top: 2px solid black;
  margin-bottom: 40px;
}

.comments {
  margin-top: 30px;
}

label.comments {
  font-size: 1.2em;
}

.title {
  background-color: #00334d;
  color: #fff;
  max-width: 100%;
  margin: 0;
  padding: 30px 25px;
  font-size: 2em;
  text-align: center;
}


/*css child selectors*/

legend[section-title] {
  margin-top: 20px;
}

input[placeholder] {
  text-align: right;
}


input[type=text]:focus {
    transition: ease-in-out, width .35s ease-in-out;
    transition: background-color 1.5s ease;
}

input[type=email]:focus {
    transition: ease-in-out, width .35s ease-in-out;
    transition: background-color 1.5s ease;
}

input[type=tel]:focus {
    transition: ease-in-out, width .35s ease-in-out;
    transition: background-color 1.5s ease;
}

/*.....checkbox and radio styles.....*/
.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 15px 0px;
}

.container input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
} /*.....removes browser default checkbox.....*/

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
} /*....creates custom checkbox.....*/

.container:hover input~ .checkmark {
  background-color: #808080;
} /*.....checkbox color on hover.....*/

.container input:checked~ .checkmark {
    background-color: #1a75ff;
} /*.....checkbox color after it is checked.....*/

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
} /*.....checkmark (hidden when not checked).....*/

.container input:checked ~ .checkmark:after {
    display: block;
} /*.....display checkmark.....*/

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  margin: 31px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} /*.....checkmark style.....*/

.container input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
} /*.....removes browser default radio.....*/

.round {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
} /*....creates custom radio.....*/

.container:hover input~ .round {
  background-color: #808080;
} /*.....radio color on hover.....*/

.container input:checked~ .round {
    background-color: #1a75ff;
} /*.....radio color after it is checked.....*/

.round:after {
    content: "";
    position: absolute;
    display: none;
} /*.....check (hidden when not checked).....*/

.container input:checked ~ .round:after {
    display: block;
} /*.....display check.....*/

.container .round:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  margin: 31px -1px;
} /*.....radio button style after checked.....*/

/*.....media queries....*/

@media (min-width: 768px) {

  /* body {
    max-width: 800px;
  } */

  main,
  .contact-info,
  .newsletter {
    max-width: 100%;
    display: flex;
  }


  header {
    margin-left: 40px;
    margin-right: 40px;
  }

  main,
 .contact-info,
 .newsletter {
   max-width: 100%;
   display: flex;
 }


 header {
   margin-left: 40px;
   margin-right: 40px;
 }

 main {
   margin-left: 20px;
   margin-right: 20px;
 }

 .inputs {
   display: flex;
   flex-direction: row;
 }

 label {
   padding-top: 30px;
 }

 input,
 select {
   width: 70%;
   margin-left: 40px;
 }

  input#zip {
    max-width: 30%;
    margin-right: 12.75em;
  }

  .title {
    max-width: 100%;
    margin: 0;
    padding-right: 0;
    font-size: 3em;
    text-align: center;
    max-width: 100%;
  }

  .container {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 12px;
  padding-top: 0;
}

  .checkmark {
    position: absolute;
    margin-top: 0;
  }

  .container .checkmark:after {
    margin: 0;
  }

.round {
  position: absolute;
  margin-top: 0;
}

.container .round:after {
  margin: 0;
}

  button {
    max-width: 100%;
    margin: 10px;
  }

  input[type=text]:focus {
      transition: ease-in-out, width .35s ease-in-out;
      transition: background-color 1.5s ease;
  }

  input[type=email]:focus {
      transition: ease-in-out, width .35s ease-in-out;
      transition: background-color 1.5s ease;
  }

  input[type=tel]:focus {
      transition: ease-in-out, width .35s ease-in-out;
      transition: background-color 1.5s ease;
  }

}
