/*.....Normalize css.....*/
@import 'normalize.css';

/*.....Base Styles.....*/

body,
form,
main,
.contact-info,
.newsletter,
fieldset  {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #404040;
}

p {
  font-size: 1.5em;
  padding: 0 15px;
}

.top-p {
  color: #b3b3b3;
}

.section-title  {
  text-align: left;
  margin: 20px 20px 30px 0;
  font-size: 2.5em;
  font-weight: bold;
}

/* .hr1 {
  line-height: 3px;
} */

.p-2 {
  color: #808080;
  padding-left: 0;
}

header,
footer {
  justify-content: center;
  margin:auto;
  text-align: center;
}

footer {
  font-style: italic;
  margin: 0;
}

label {
  font-size: 1.2em;
}

input,
select {
  justify-content: center;
}

legend[section-title] {
  margin-top: 20px;
}


.contact-info,
.newsletter {
  justify-content: center;
  margin: 0 20px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

header {
  margin: 0 0 15px;
}

input,
select {
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
}

select {
  cursor: pointer;
  width:99%;
}

textarea {
  border: none;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0;
}

.comments {
  margin-top: 15px;
}

.title {
  background-color: #00334d;
  color: #fff;
  max-width: 100%;
  margin: 0 auto;
  padding: 38px 50px;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin: 15px 0px;
}

/*.....removes browser default checkbox.....*/
.container input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

/*....creates custom checkbox.....*/
.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

/*.....checkbox color on hover.....*/
.container:hover input~ .checkmark {
  background-color: #808080;
}

/*.....checkbox color after it is checked.....*/
  .container input:checked~ .checkmark {
    background-color: #1a75ff;
  }

  /*.....checkmark (hidden when not checked).....*/
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /*.....display checkmark.....*/
  .container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  margin: 31px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*.....removes browser default radio.....*/
.container input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

/*....creates custom radio.....*/
.round {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

/*.....radio color on hover.....*/
.container:hover input~ .round {
  background-color: #808080;
}

/*.....radio color after it is checked.....*/
  .container input:checked~ .round {
    background-color: #1a75ff;
  }

  /*.....check (hidden when not checked).....*/
  .round:after {
    content: "";
    position: absolute;
    display: none;
}

  /*.....display check.....*/
  .container input:checked ~ .round:after {
    display: block;
}

.container .round:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  margin: 31px -1px;
}

input,
select,
button {
  margin: 15px 0;
}

button {
  align-self: center;
  cursor: pointer;
  border: none;
  width: 92.6%;
  margin: 15px 20px 15px;
  padding: 20px 40px;
  border-radius: 5px;
  padding: 20px;
  background-color: #00b3b3;
  color: #fff;
  font-size: 2em;
}

input[placeholder] {
  text-align: right;
}

select option:first-child {
  color:red;
}
